.all-Interns{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    padding: 30px 10px;   
    gap: 40px 40px;      
}
.Intern-single-category{
    background-color:aliceblue;
    color: black;
    padding: 30px;
    border-bottom-right-radius: 50px;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}
.Intern-single-category:hover{
    background-color:lavender;
    color: black;
    padding: 30px;
    border-bottom-right-radius: 50px;
    box-shadow: 5px 8px gainsboro;
}
.company-image{
    height: 120px;
    width: 220px;
    border-radius: 10px;
}
.search-box{
    border: 3.5px solid gray;
    margin: 0px 12px;
    margin-top: 15px;
    width: 480px;
    height: 45px;
    padding: 0px 10px;
    border-radius: 10px;
    
}
.search-box:hover{
    border: 4px solid gray;
    margin: 0px 12px;
    margin-top: 15px;
    width: 480px;
    height: 45px;
    padding: 0px 10px;
    border-radius: 10px;
    
}
.s-box-div{
    display: flex;
    justify-content: center;
}
.title2{
    font-weight: 500;
    color: black;
    font-size: medium;
}
.title3{
    font-weight: 500;
    color:darkorange;
    font-size: medium;
}


.Intern-single-category1{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    padding: 30px 200px;
}
.Intern-single-category2{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: lavender;
    padding: 10px 0px;
    
}
.Intern-single-category3{
    background-color: lavender;
    text-align:left;
}
.company-image1{
    height: 220px;
    width: 380px;
    border-radius: 10px;
}
@media only screen and (max-width: 516px){
    .all-Interns{
        display: grid;
        grid-template-columns: repeat(1, 1fr);
        padding: 30px 10px;   
        gap: 40px 40px;      
    }
}